Repository apache/incubator-seata-go, pull requests merged in 2022-11, with the labels that each got.

#336 optimize at
  pkg/datasource/sql/conn.go
  pkg/datasource/sql/conn_at.go
  pkg/datasource/sql/conn_at_test.go
  pkg/datasource/sql/conn_xa.go
  pkg/datasource/sql/connector.go
  pkg/datasource/sql/datasource/base/meta_cache.go
  pkg/datasource/sql/datasource/datasource_manager.go
  pkg/datasource/sql/datasource/mysql/default.go
  pkg/datasource/sql/datasource/mysql/meta_cache.go
  pkg/datasource/sql/datasource/mysql/meta_cache_test.go
  pkg/datasource/sql/datasource/mysql/trigger.go
  pkg/datasource/sql/driver.go
  pkg/datasource/sql/exec/executor.go
  pkg/datasource/sql/exec/select_for_update_executor.go
  pkg/datasource/sql/hook/undo_log_hook.go
  pkg/datasource/sql/stmt.go
  pkg/datasource/sql/types/types.go
  pkg/datasource/sql/undo/builder/basic_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_delete_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_multi_delete_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_multi_delete_undo_log_builder_test.go
  pkg/datasource/sql/undo/builder/mysql_multi_update_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder_test.go
  pkg/datasource/sql/undo/executor/sql.go
  pkg/remoting/getty/getty_remoting.go
  pkg/rm/tcc/tcc_service.go
  pkg/tm/context.go
  pkg/tm/context_test.go
  pkg/tm/transaction_executor.go
  sample/at/basic/main.go
  sample/at/basic/service.go
Labels: coding, sample, remoting, rm, tm

#337 optimize at
  go.mod
  pkg/datasource/sql/at.go
  pkg/datasource/sql/conn.go
  pkg/datasource/sql/conn_at.go
  pkg/datasource/sql/conn_at_test.go
  pkg/datasource/sql/conn_xa_test.go
  pkg/datasource/sql/connector.go
  pkg/datasource/sql/datasource/base/meta_cache.go
  pkg/datasource/sql/datasource/datasource_manager.go
  pkg/datasource/sql/datasource/mysql/trigger.go
  pkg/datasource/sql/exec/executor.go
  pkg/datasource/sql/exec/select_for_update_executor.go
  pkg/datasource/sql/exec/select_for_update_executor_test.go
  pkg/datasource/sql/exec/xa/executor_xa.go
  pkg/datasource/sql/mock/mock_datasource_manager.go
  pkg/datasource/sql/mock/mock_driver.go
  pkg/datasource/sql/tx.go
  pkg/datasource/sql/tx_at.go
  pkg/datasource/sql/tx_xa.go
  pkg/datasource/sql/types/image.go
  pkg/datasource/sql/types/meta.go
  pkg/datasource/sql/types/types.go
  pkg/datasource/sql/undo/base/undo.go
  pkg/datasource/sql/undo/builder/basic_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_delete_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_multi_delete_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_multi_update_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder_test.go
  pkg/datasource/sql/undo/mysql/undo.go
  pkg/datasource/sql/undo/undo.go
  pkg/protocol/branch/branch.go
  pkg/remoting/getty/getty_remoting.go
  pkg/remoting/processor/client/rm_branch_commit_processor_test.go
  pkg/remoting/processor/client/rm_branch_rollback_processor_test.go
  sample/at/basic/main.go
Labels: coding, sample, protocol, remoting

#339 Fix:AT update
  pkg/datasource/sql/exec/at/default.go
  pkg/datasource/sql/exec/executor.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder.go
  sample/at/basic/service.go
  sample/dockercompose/docker-compose.yml
  sample/dockercompose/mysql/mysqld.cnf
  sample/dockercompose/mysql/order.sql
Labels: coding, sample

#346 optimize at commit branch
  pkg/datasource/sql/conn.go
  pkg/datasource/sql/conn_at.go
  pkg/datasource/sql/conn_at_test.go
  pkg/datasource/sql/conn_xa.go
  pkg/datasource/sql/conn_xa_test.go
  pkg/datasource/sql/hook/logger_hook.go
  pkg/datasource/sql/tx.go
  pkg/datasource/sql/types/image.go
  pkg/datasource/sql/types/meta.go
  pkg/datasource/sql/types/sql.go
  pkg/datasource/sql/types/types.go
  pkg/datasource/sql/undo/base/undo.go
  pkg/datasource/sql/undo/builder/basic_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_multi_update_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder.go
  pkg/datasource/sql/undo/mysql/default.go
  pkg/datasource/sql/undo/undo.go
Labels: coding

#350 fix:timeout config & panic log lost
  go.mod
  pkg/datasource/sql/conn_at.go
  pkg/datasource/sql/undo/base/undo.go
  pkg/rm/tcc/tcc_service.go
  pkg/rm/tcc/tcc_service_test.go
  pkg/tm/transaction_executor.go
  pkg/tm/transaction_executor_test.go
  sample/at/basic/main.go
  sample/dockercompose/mysql/order.sql
Labels: coding, sample, rm, tm

#352 optimize meta data
  go.mod
  go.sum
  pkg/datasource/sql/async_worker.go
  pkg/datasource/sql/at.go
  pkg/datasource/sql/conn_at.go
  pkg/datasource/sql/datasource/base/meta_cache.go
  pkg/datasource/sql/datasource/datasource_manager.go
  pkg/datasource/sql/datasource/mysql/default.go
  pkg/datasource/sql/datasource/mysql/meta_cache.go
  pkg/datasource/sql/datasource/mysql/meta_cache_test.go
  pkg/datasource/sql/datasource/mysql/trigger.go
  pkg/datasource/sql/db.go
  pkg/datasource/sql/driver.go
  pkg/datasource/sql/driver_test.go
  pkg/datasource/sql/exec/select_for_update_executor.go
  pkg/datasource/sql/mock/mock_datasource_manager.go
  pkg/datasource/sql/tx.go
  pkg/datasource/sql/types/sql.go
  pkg/datasource/sql/undo/base/undo.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder_test.go
  pkg/datasource/sql/undo/executor/executor.go
  pkg/datasource/sql/undo/executor/mysql_undo_insert_executor.go
  pkg/datasource/sql/undo/executor/mysql_undo_update_executor.go
  pkg/datasource/sql/undo/factor/undo_executor_factory.go
  pkg/datasource/sql/undo/mysql/undo.go
  pkg/datasource/sql/undo/undo.go
  pkg/datasource/sql/undo/undo_executor.go
  pkg/datasource/sql/undo_test.go
  sample/at/basic/main.go
  sample/at/basic/service.go
Labels: coding, sample

#353 feat: modify some receiver name
  pkg/datasource/sql/undo/builder/basic_undo_log_builder.go
  sample/at/non_transaction/main.go
  sample/at/non_transaction/service.go
Labels: coding, sample

#356 Optimize rollback
  pkg/datasource/sql/at.go
  pkg/datasource/sql/types/image.go
  pkg/datasource/sql/undo/base/undo.go
  pkg/datasource/sql/undo/builder/basic_undo_log_builder.go
  pkg/datasource/sql/undo/builder/basic_undo_log_builder_test.go
  pkg/datasource/sql/undo/executor/executor.go
  pkg/datasource/sql/undo/executor/mysql_undo_delete_executor.go
  pkg/datasource/sql/undo/executor/mysql_undo_executor_holder.go
  pkg/datasource/sql/undo/executor/mysql_undo_insert_executor.go
  pkg/datasource/sql/undo/executor/mysql_undo_update_executor.go
  pkg/datasource/sql/undo/executor/sql.go
  pkg/datasource/sql/undo/executor/utils.go
  pkg/datasource/sql/undo/mysql/undo.go
  pkg/datasource/sql/undo/undo.go
  pkg/datasource/sql/undo/undo_executor.go
  pkg/rm/tcc/fence/store/db/dao/store_api.go
  sample/at/basic/main.go
Labels: coding, sample, rm

#357 feat: add gin for at and fix async worker bug
  pkg/datasource/sql/async_worker.go
  sample/at/gin/client/main.go
  sample/at/gin/server/main.go
  sample/at/gin/server/service.go
Labels: coding, sample

#355 ftr:support ONLY_CARE_UPDATE_COLUMNS
  pkg/datasource/sql/async_worker.go
  pkg/datasource/sql/exec/executor.go
  pkg/datasource/sql/tx.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder.go
  sample/dockercompose/docker-compose.yml
Labels: coding, sample

#360 Rollback1
  sample/at/gin/client/main.go
  sample/at/gin/server/main.go
  sample/at/rollback/client/main.go
  sample/at/rollback/server/main.go
  sample/at/rollback/server/service.go
  sample/at/rollback/server2/main.go
  sample/at/rollback/server2/service.go
Labels: coding, sample

#363 Fix meta data
  pkg/datasource/sql/datasource/mysql/trigger.go
  pkg/datasource/sql/types/meta.go
  pkg/datasource/sql/undo/builder/basic_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder.go
  pkg/remoting/processor/client/rm_branch_rollback_processor.go
Labels: coding, remoting

#365 Fix decode
  go.mod
  pkg/datasource/sql/datasource/mysql/trigger.go
  pkg/datasource/sql/types/const.go
  pkg/datasource/sql/types/image.go
  pkg/datasource/sql/types/image_test.go
  pkg/datasource/sql/types/meta.go
  pkg/datasource/sql/types/types.go
  pkg/datasource/sql/undo/builder/basic_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder.go
  pkg/datasource/sql/undo/executor/utils.go
  sample/at/rollback/server/service.go
  sample/at/rollback/server2/service.go
  sample/dockercompose/mysql/order.sql
Labels: coding, sample

#366 add data check before rollbeck
  go.mod
  pkg/datasource/sql/datasource/utils.go
  pkg/datasource/sql/tx.go
  pkg/datasource/sql/types/image.go
  pkg/datasource/sql/undo/base/undo.go
  pkg/datasource/sql/undo/builder/basic_undo_log_builder.go
  pkg/datasource/sql/undo/executor/executor.go
  pkg/datasource/sql/undo/executor/mysql_undo_update_executor.go
  pkg/datasource/sql/undo/executor/utils.go
Labels: coding

#369 fix:remove unless function
  pkg/datasource/sql/types/image.go
Labels: coding

#370 update 1.0.2-RC1 change log
  changes/1.0.0.md
  changes/1.0.0_zh.md
  changes/1.0.2-RC1.md
  changes/1.0.2-RC1_zh.md
Labels: milestone

#374 fix at sample
  sample/at/basic/main.go
Labels: coding, sample
