Repository apache/incubator-seata-go, pull requests merged in 2023-07, with the labels that each got.

#576 fix: use mirromutth/mysql-action instead of icomponent/mysql-action
  .github/workflows/build.yml
Labels: ci/cd

#574 feat: new feature for service discovery
  pkg/client/client.go
  pkg/client/config.go
  pkg/client/config_test.go
  pkg/datasource/sql/exec/at/select_for_update_executor_test.go
  pkg/discovery/base.go
  pkg/discovery/config.go
  pkg/discovery/consul.go
  pkg/discovery/etcd3.go
  pkg/discovery/eureka.go
  pkg/discovery/file.go
  pkg/discovery/file_test.go
  pkg/discovery/init.go
  pkg/discovery/init_test.go
  pkg/discovery/nacos.go
  pkg/discovery/redis.go
  pkg/discovery/sofa.go
  pkg/discovery/zk.go
  pkg/remoting/getty/rpc_client.go
  pkg/tm/config.go
  testdata/conf/seatago.yml
Labels: coding, remoting, tm

#590 fix typo
  pkg/remoting/config/session_config.go
Labels: coding, remoting

#592 chore: unnecessary use of fmt.Sprintf
  pkg/tm/transaction_executor_test.go
Labels: coding, tm

#594 refactor: optimize info log format for rm_branch_commit_processor.go
  pkg/remoting/processor/client/rm_branch_commit_processor.go
Labels: coding, remoting
