Repository apache/incubator-seata-go, pull requests merged in 2023-01, with the labels that each got.

#413 add service and seata config
  pkg/client/config.go
  pkg/client/config_test.go
  pkg/tm/config.go
  pkg/util/flagext/stringmap.go
  pkg/util/flagext/stringmap_test.go
Labels: coding, tm

#410 add Undo config
  pkg/datasource/sql/undo/undo_config.go
  pkg/datasource/sql/undo/undo_config_test.go
Labels: coding

#418 fix undo config
  pkg/client/config.go
  pkg/client/config_test.go
  pkg/datasource/sql/exec/at/insert_executor_test.go
  pkg/datasource/sql/undo/config.go
  pkg/datasource/sql/undo/undo_config.go
  pkg/datasource/sql/undo/undo_config_test.go
  pkg/rm/tcc/config.go
  pkg/tm/config.go
  testdata/conf/seatago.yml
Labels: coding, rm, tm

#388 opt: optimize comments and dead code
  pkg/datasource/sql/driver.go
  pkg/datasource/sql/driver_test.go
Labels: coding

#421 Apply getty config
  pkg/client/client.go
  pkg/client/config.go
  pkg/client/config_test.go
  pkg/constant/context.go
  pkg/remoting/getty/config.go
  pkg/remoting/getty/listener.go
  pkg/remoting/getty/rpc_client.go
  testdata/conf/seatago.yml
Labels: coding, remoting

#419 use undo config
  pkg/client/client.go
  pkg/client/config.go
  pkg/constant/client_table_columns_name.go
  pkg/constant/undo.go
  pkg/datasource/sql/async_worker.go
  pkg/datasource/sql/at.go
  pkg/datasource/sql/exec/at/update_executor.go
  pkg/datasource/sql/exec/at/update_executor_test.go
  pkg/datasource/sql/undo/base/undo.go
  pkg/datasource/sql/undo/config.go
  pkg/datasource/sql/undo/executor/executor.go
  sample/at/basic/main.go
  sample/at/gin/client/main.go
  sample/at/gin/server/main.go
  sample/at/non_transaction/main.go
  sample/at/rollback/client/main.go
  sample/at/rollback/server/main.go
  sample/at/rollback/server2/main.go
  sample/conf/seatago.yml
  sample/tcc/dubbo/client/cmd/client.go
  sample/tcc/dubbo/server/cmd/server.go
  sample/tcc/fence/cmd/main.go
  sample/tcc/gin/client/main.go
  sample/tcc/gin/server/main.go
  sample/tcc/grpc/cmd/client/main.go
  sample/tcc/grpc/cmd/server/main.go
  sample/tcc/local/cmd/local.go
  sample/tcc/propagation/first/main.go
Labels: coding, sample

#422 remove unused config
  pkg/config/client_config.go
  pkg/config/config_config.go
  pkg/config/configurator.go
  pkg/config/doc.go
  pkg/config/getty_config.go
  pkg/config/log_config.go
  pkg/config/parser/configuration_parser.go
  pkg/config/parser/configuration_parser_test.go
  pkg/config/registry_config.go
  pkg/config/seata_config.go
  pkg/config/seata_config_test.go
  pkg/config/service_config.go
  pkg/config/tcc_config.go
Labels: coding, config

#423 bugfix: repair init getty failed
  pkg/client/client.go
  pkg/remoting/getty/listener.go
Labels: coding, remoting

#424 Fix getty config
  pkg/remoting/getty/rpc_client.go
  sample/conf/seatago.yml
Labels: coding, sample, remoting

#429 bugfix: at model execution failed
  pkg/datasource/sql/exec/at/delete_executor.go
  pkg/datasource/sql/exec/at/insert_executor.go
  pkg/datasource/sql/exec/at/update_executor.go
  testdata/sql/undo_log.sql
Labels: coding

#430 Optimize getty config
  conf/config.yaml
  conf/seata_config.yml
  pkg/client/config_test.go
  pkg/remoting/getty/config.go
  pkg/remoting/getty/rpc_client.go
  sample/conf/seatago.yml
  testdata/conf/seatago.yml
Labels: coding, sample, remoting

#436 use config
  pkg/client/client.go
  pkg/remoting/getty/config.go
  pkg/remoting/getty/rpc_client.go
  pkg/remoting/processor/client/rm_branch_rollback_processor.go
  pkg/rm/init.go
  pkg/rm/rm_remoting.go
Labels: coding, remoting, rm

#431 doc: add change log
  changes/1.0.2-RC3.md
  changes/1.0.2-RC3_zh.md
  sample/at/gin/server/service.go
Labels: milestone, coding, sample

#444 add BZip2Compressor
  go.mod
  go.sum
  pkg/compressor/bzip2_compress.go
  pkg/compressor/bzip2_compress_test.go
Labels: coding

#395 optimize err
  go.mod
  go.sum
  goimports.sh
  pkg/datasource/sql/at.go
  pkg/datasource/sql/datasource/base/meta_cache.go
  pkg/datasource/sql/datasource/datasource_manager.go
  pkg/datasource/sql/datasource/mysql/meta_cache.go
  pkg/datasource/sql/datasource/mysql/trigger.go
  pkg/datasource/sql/exec/at/insert_executor_test.go
  pkg/datasource/sql/exec/at/update_executor_test.go
  pkg/datasource/sql/tx.go
  pkg/datasource/sql/types/error.go
  pkg/datasource/sql/types/meta.go
  pkg/datasource/sql/undo/base/undo.go
  pkg/datasource/sql/undo/builder/mysql_insert_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_multi_update_undo_log_builder.go
  pkg/datasource/sql/undo/builder/mysql_update_undo_log_builder_test.go
  pkg/datasource/sql/undo/executor/mysql_undo_delete_executor.go
  pkg/datasource/sql/undo/executor/mysql_undo_insert_executor.go
  pkg/datasource/sql/undo/undo.go
  pkg/remoting/getty/getty_client.go
  pkg/remoting/getty/getty_client_test.go
  pkg/remoting/getty/rpc_client.go
  pkg/rm/rm_remoting.go
  pkg/rm/tcc/fence/fence_api.go
  pkg/rm/tcc/fence/fence_api_test.go
  pkg/rm/tcc/fence/handler/tcc_fence_wrapper_handler.go
  pkg/rm/tcc/fence/store/db/dao/tcc_fence_db.go
  pkg/rm/tcc/tcc_resource_test.go
  pkg/rm/tcc/tcc_service.go
  pkg/rm/tcc/tcc_service_test.go
  pkg/rm/two_phase.go
  pkg/tm/global_transaction.go
  pkg/tm/global_transaction_test.go
  pkg/tm/transaction_executor.go
  pkg/tm/transaction_executor_test.go
  pkg/util/convert/convert.go
  pkg/util/errors/code.go
  pkg/util/errors/error.go
  pkg/util/log/logging.go
  sample/at/gin/client/main.go
  sample/at/rollback/client/main.go
  sample/at/rollback/server2/service.go
Labels: coding, sample, remoting, rm, tm

#445 add unit test for TransactionErrorCode and MessageType
  pkg/protocol/message/constant_test.go
  pkg/util/errors/error_code_test.go
Labels: coding, protocol

#461 fix error_code_test
  pkg/util/errors/error_code_test.go
Labels: coding
